/* Add CSS Styling */
.odd {
    background-color: rgb(255, 126, 223);
    font-family: Verdana, 'DejaVu Sans', sans-serif;
}

#one-id {
    color: rgb(77, 77, 241);
    font-size: 36px;
}

.odd.cooler {
    font-size: 36px;
}

#another-id {
    background-color: rgb(122, 233, 122);
    font-size: 24px;
    font-weight: bold;
}